body{
    background-color:rgb(248,245,239);
}

.container{
    text-align: center;
    width: 936px;
    background: rgb(248,245,239);
    font-family: 'Josefin Sans', sans-serif;
    margin:10px auto;
    font-size: 1.1em;
    position: relative;
    color: rgb(95,88,71);
}

.primary-nav-bar{
    position: relative;
    background-color: rgb(248,245,239);
    padding:100px 10px 10px 10px;
    overflow: hidden;
}

.nav-left{
    background-color: rgb(248,245,239);
    float: left;
    width:290px;
   /* background: green;*/

} 

.nav-right{
    background-color: rgb(248,245,239);
    float: right;
    width: 290px;
    /*background: green;*/

}

.logo{
 /*   background-image: url('logo.jpg');*/
    float: left;
    width:300px;
    height: 83px; 
    background-repeat: no-repeat;
    margin: 0 10px;
    box-shadow: 0 0 5px red;
}

.primary-nav-bar ul{
    margin: 41px 0 0;
    padding: 0;
}

.primary-nav-bar li{
  display: inline;
  margin: 100px 18px;
}

a:link {color:rgb(95,88,71);}      /* unvisited link */
a:visited {color:rgb(95,88,71);}  /* visited link */
a:hover {color:rgb(230,158,48)}  /* mouse over link */
a:active {color:rgb(95,88,71);}  /* selected link */
a{text-decoration: none;}

.home-center-container {
    position:relative;
    background-color: rgb(248,245,239);
    height: 500px;
    margin-bottom: 60px;
}

.home-content{
    width: 900px;
    min-height: 450px;
    background-color: rgb(248,245,239);
    border-color: rgb(224,217,203);
    border: 2px solid;
    margin: 50px auto;
    clear: both;
    overflow: hidden;
}

.home-content img {
    width: 100%;
    max-width: 200px;
    display: block;
    padding: 2%
}

.home-content .left, .home-content .center, .home-content .right{
    float: left;
    margin-right: 2%;
    width: 30%
}


.home-content .right{
    margin-right: 0;
}

.home-content .right .bottom{
    margin-top:10px;
}

.footer-wrapper{
    background-color: rgb(224,217,203);
    height:150px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    padding-top:1%; 
}

.footer-container{
    width: 936px;
    margin: 0 auto;
}

.one_fourth h1 {
    font-size: 1.2em;
    font-family: 'IM Fell DW Pica', serif;
    color: rgb(95,88,71);
}

.one_fourth{
    float: right;
    width: 22%;
    text-align:left;

}

.one_fourth ul{
    list-style-type: none;
    margin-left: none;
}

.last{
    margin:0;
}




/* Standard Styles  
font-family: 'Josefin Sans', sans-serif;
font-family: 'IM Fell DW Pica', serif;
color:rgb(230,158,48); orange
color:; brown
color:rgb(248,245,239); creme background
color:rgb(224,217,203); light brown
*/




/*.journal-content{
    width: 800px;
    height: 450px;
    position: absolute;
    left:70px;
    top: 50px;
    background-color: rgb(248,245,239);
    border-color: rgb(224,217,203);
    border: 2px solid;
}

p, h2{
        text-align: justify;  
}

p{
    font-size: .8em;
}

h2{
    padding-top: 50px;
    font-size: 1em;
    font-family: 'IM Fell DW Pica', serif;    
}

.footer-container{
    width:936px;
    margin: 0 auto; 
    background-color: purple;
 }
*/