body{
    background-color:red;
}

.container{
    text-align: center;
    width: 940px;
    background: yellow;
    font-family: 'Josefin Sans', sans-serif;
    margin:10px;
    font-size: 16px;
    position: relative;
}

.primary-nav-bar{
    position: relative;
    background-color: green;
    padding:100px 10px 10px 10px;
    color: white;
    margin-bottom: 30px
}

.nav-left{
    background-color: green;
    position: absolute;
    left: 0
}

.nav-right{
    background-color: green;
    position: absolute;
    right:0;
}

.logo{
    position: absolute;
    left: 310px;
    top: 0px;
    background-image: url('logo.jpg');
    width:300px;
    height: 83px; 
    background-repeat: no-repeat;
}

li{
  display: inline;
  margin-top:100px;
  margin-bottom:100px;
  margin-right:20px;
  margin-left:20px;
}

a:link {color:rgb(95,88,71);}      /* unvisited link */
a:visited {color:rgb(95,88,71);}  /* visited link */
a:hover {color:rgb(230,158,48)}  /* mouse over link */
a:active {color:rgb(95,88,71);}  /* selected link */
a{text-decoration: none;}

.home-center-container {
    position:relative;
    background-color: black;
    height: 500px
}

.home-content{
    width: 800px;
    height: 400px;
    position: absolute;
    left:70px;
    top: 50px;
    background-color: white;
    border-color: yellow;
    border: 2px solid;
}

.home-pic-left{
    background-image: url('betenpercent.jpg');
    /*background-color: blue;*/
    width: 300px;
    height:200px;
    background-repeat: no-repeat;
    position: relative;
    left: 5px;
    top: 5px;
}

footer{
    background-color: orange;
    height:100px;
    
}



/* Standard Styles  
font-family: 'Josefin Sans', sans-serif;
font-family: 'IM Fell DW Pica', serif;
color:rgb(230,158,48); orange
color:; brown
color:rgb(248,245,239); creme background
color:rgb(224,217,203); light brown
*/