/* ------------Navigation ----------
----------------------------------*/
.primary-nav-bar{
    position: relative;
    background-color: rgb(248,245,239);
    padding:90px 10px 10px 10px;
    overflow: hidden;
}

.nav-left{
    background-color: rgb(248,245,239);
    float: left;
    width:270px;
   /* background: green;*/

} 

.nav-right{
    background-color: rgb(248,245,239);
    float: right;
    width: 270px;
    /*background: green;*/

}

.logo{
 /*   background-image: url('logo.jpg');*/
    float: left;
    width:350px;
    height: 75px; 
    background-repeat: no-repeat;
    margin: -40px 10px 10px 10px; 
  /*  box-shadow: 0 0 5px red;*/
}

.primary-nav-bar ul{
    margin: 41px 0 0;
    padding: 0;
}

.primary-nav-bar li{
  display: inline;
  margin: 100px 18px;
}

/* ------------Body---------------
----------------------------------*/


body{
    background-color:rgb(248,245,239);
}

.container{
    text-align: center;
    width: 936px;
    background: rgb(248,245,239);
    font-family: 'Josefin Sans', sans-serif;
    margin:10px auto;
    font-size: 1.1em;
    position: relative;
    color: rgb(95,88,71);
}


a:link {color:rgb(95,88,71);}      /* unvisited link */
a:visited {color:rgb(95,88,71);}  /* visited link */
a:hover {color:rgb(230,158,48)}  /* mouse over link */
a:active {color:rgb(95,88,71);}  /* selected link */
a{text-decoration: none;}

.home-center-container {
    position:relative;
    background-color: rgb(248,245,239);
    height: 500px;
    margin-bottom: 60px;
}

.home-content{
    width: 800px;
    min-height: 450px;
    background-color: rgb(248,245,239);
    border-color: rgb(224,217,203);
    border: 2px solid;
    margin: 50px auto;
    clear: both;
    overflow: hidden;
    margin-bottom: 60px;
}

.home-content img {
    width: 100%;
    /*max-width: 200px;*/
    display: block;
    padding: 2%;

}

.home-content .left, .home-content .center, .home-content .right{
    float: left;
/*    margin-right: 2%;*/

}


.home-content .right{
    margin-right: 0;
/*    float:right;*/
/*    padding: 2% 2% 2% 0;  */
}

.home-content .left{
/*    margin-left: 0;*/
    padding-right: 1% 
}

.home-content .center{
/*    position: center;
    margin: 0 auto;*/
    padding-right: 1%; 
}

.home-content .right .bottom{
    padding-top: 0;
}



/* ------------Footer--------------
----------------------------------*/

.footer-wrapper{
    background-color: rgb(224,217,203);
    height:150px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    padding-top:1%; 
    margin-top: 100px;
}

.footer-container{
    width: 936px;
    margin: 0 auto;
}

.one_fourth h1 {
    font-size: 1.2em;
    font-family: 'IM Fell DW Pica', serif;
    color: rgb(95,88,71);
    margin-left: 50px;
}

.one_fourth{
    float: right;
    width: 22%;
    text-align:left;
    color: rgb(95,88,71);  

}

.one_fourth ul{
    list-style-type: none;
    margin-left: 10px;
    padding-left: none;
    margin-bottom: 10px;

}

.last{
    margin:0;
}

.footer-container img{
    position: absolute;
    margin-top: -60px;
    margin-left: 0px;
    margin-right: 0px;
}

.footer-copyright {
    background-color: rgb(224,217,203);
    height:30px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: .6em;
    padding-top:1%; 
    border-top: 2px solid;
    border-color: rgb(140,130,105);
    text-align: center;
    letter-spacing: 4px;
}



/* ------------Journal--------------
----------------------------------*/

.journal{
    background-color: rgb(224,217,203);
    margin: 1%;
    padding: 1%;
    width: 70%;
    float: left; 
    height: 1003px
}

.journal p, h2{
    padding:0 2%;  
}

.journal p{
    font-size: .75em;
    text-align: justify;
}

.journal h2{
    padding-top: 30px;
    font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
/*    color:rgb(230,158,48); */
    text-align: left;    

}

p:last-of-type{
    text-indent: 30px;
}

.header{
    font-family: 'IM Fell DW Pica', serif; 
    background-color: rgb(224,217,203);
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
    margin: 1%;
    padding: 1%; 
    color:rgb(230,158,48); 
}

.right-side-bar{
    float:right;
    width:24%;
    padding-right: 2%;
    padding-top: .7%

}

/*------------Experiments-------------
------------------------------------

last thing done was trying to get experiment side bar over to the side*/

.experiment-content{
    background-color: rgb(224,217,203);
    margin: 1%;
    padding: 2%;
    width: 78%;
    float: left;
    text-align: left; 
/*    height: 1003px*/
}

.left-side-bar{
    float:left;
    width:15%;
    padding-left: 1%;
    padding-top: .7%;
}

.btn{
  display: inline;
  margin: 4px;
  text-align: center;
  color: white;
  border: 1px solid;
  border-radius: 4px;
  width: 60%;
/*  padding-top: 4%*/
  vertical-align: middle;
  padding:4px 7px;
 }

.btn-mini {
/*  height: 20px;*/
  padding: 1px, 4px;
/*  font-size: 100%;*/
  width: 50%;
}

.btn-small {
/*  height: 50px;*/
/*  padding: 2px, 6px;*/
  font-size: 120%;
/*  margin-bottom: 17px;*/
  width: 65%;
}

.btn-large{
/*  height: 75px;*/
/*  padding: 3px, 8px;*/
  font-size: 150%;
  width: 80%;
}

.btn-default {
  background: rgb(33,106,216);
  border-color:rgb(23,5,112);
  border-bottom-color: rgb(112,86,237);
}

.btn-success {
  background: rgb(81,195,89);
  border-color: rgb(44,136,11);
  border-bottom-color: rgb(54,170,13)
}

.btn-warning {
  background: rgb(250,233,89);
  border-color:rgb(255,156,0);
  border-bottom-color:rgb(245,207,55);
  color: black;
}

.btn-danger {
  background: rgb(247,36,36);
  border-color:rgb(192,54,0);
  border-bottom-color:rgb(224,80,24);
}

.btn-boring {
  background: white;
  color: black;
  border-bottom-color:rgb(203,203,202);
}

.experiment-content h2{
    padding: 0;
}

/*------------About-------------
------------------------------------*/


.mkb-photo{
    float:left;
    width:24%;
    padding-left: 1%;
    padding-top: .7%;

}

/* Standard Styles  
font-family: 'Josefin Sans', sans-serif;
font-family: 'IM Fell DW Pica', serif;
color:rgb(230,158,48); orange
color:; brown
color:rgb(248,245,239); creme background
color:rgb(224,217,203); light brown





/*.journal-content{
    width: 800px;
    height: 450px;
    position: absolute;
    left:70px;
    top: 50px;
    background-color: rgb(248,245,239);
    border-color: rgb(224,217,203);
    border: 2px solid;
}

. journal p, h2{
        text-align: justify;  
}

.journal p{
    font-size: .8em;
}

.journal h2{
    padding-top: 50px;
    font-size: 1em;
    font-family: 'IM Fell DW Pica', serif;    
}

*/